{% extends "base.html" %} {% block content %} {% load static %}
<section class="content">
  <div class="main-header"><h2>Edit</h2></div>
  <section class="core_form">
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="text" name="name" value="{{core.name}}" required />
      <input type="text" row="" name="body" value="{{core.body}}" />
      {% if core.image.url %}
      <img src="{{core.image.url}}" class="Photo" alt="" />
      {% endif %}
      <input type="file" id="file" name="image" />
      <input type="submit" value="Update" />
      <a href="{% url 'index' %}" class="cancel">Cancel</a>
    </form>
  </section>
</section>
{%endblock%}
